@charset "utf-8";
/* CSS Document */

<style type="text/css">
<!--
body{background-image:url(images/bj.jpg);
background-repeat:no-repeat;
background-attachment:fixed;
background-position:100% 100%}
-->
</style> 
　
